extends ../layout

block content
    include ../partials/loader
    #universe.universe__same-session
        #galaxy
            each item in items
                .orbit(id="#{item.name}")
                    .planet-wrap
                        .planet(style="background-image: url('../img/planets/#{item.name}.jpg')")
                            if item.rings
                                .rings
        include ../partials/menu

    script.
        $('body').addClass('page-index');
        $('#galaxy').addClass('galaxy-view--3D');

        socket.on('key', function (data) {
            $('.ask__code button').text(data.code);
        });

        socket.on('urlcontrol', function (data) {
            window.location.href = data.url
        })

