.loader__control-buttons.ask__code
    button.loader__remote-button.loader__wrapper--input(type="button" name="code") Ask for code

.menu__button
    .menu__button--line.span1
    .menu__button--line.span2
    .menu__button--line.span3

.menu__overlay
    ul.menu.desktop-menu
        li
            a(href='/galaxy') Home
        each item in items
            li
                a(href="/#{item.name}") #{item.name}
                if item.moons
                    .dropdown
                        each moon in item.moons
                            a(href="#") #{moon.name}