.menu__button
    .menu__button--line.span1
    .menu__button--line.span2
    .menu__button--line.span3

.menu__overlay
    ul.menu.desktop-menu
        li
            a(href='/galaxy') Home
        each item in items
            li
                a(href="/#{item.name}") #{item.name}
                if item.moons
                    .dropdown
                        each moon in item.moons
                            - var href = item.name === 'sun' ? "/" + moon.name : "/" + item.name + "/" + moon.name
                            a(href= href) #{moon.name}