extends layout

block content
    include partials/loader
    #universe
        #galaxy
            .error
                .error__status
                    .error__status--digit.number 4
                    .error__status--digit
                        .loader__planet
                    .error__status--digit.number 4

                .error__message The page you are looking for can't be found