extends layout

block content

	#galaxy.galaxy-view--3D
		each item in items
			if item.name == 'sun'
				#sun
			else
				.orbit(id="#{item.name}")
					.planet-wrap
						.planet
							if item.name == 'saturn' || item.name == 'uranus'
								.rings
						if item.name == 'earth'
							#moon.orbit
								.planet-wrap
									.planet

	include menu

	script.
		//- var socket = io.connect('localhost:3000')
		var	socket = io.connect('https://limitless-earth-91513.herokuapp.com/')
		
		socket.on('urlcontrol', function (data) {
			window.location.href = data.url
		})