extends layout

block content
    #galaxy
        each item in items
            .orbit(id="#{item.name}")
                .planet-wrap
                    .planet(style="background-image: url('../img/planets/#{item.name}.jpg')")
                        if item.rings
                            .rings
    include menu

    script.
        $('body').addClass('page-index');
        $('#galaxy').addClass('galaxy-view--3D');

        socket.on('urlcontrol', function (data) {
            window.location.href = data.url
        })

        socket.on('key', function (data) {
            $('.loader__remote-button').text(data.code);
        });

        socket.on('openDesktopApp', function (data) {
            $(data.loader).click();
        });