extends layout

block content
	#universe
		#galaxy.galaxy-view--3D
			#sun
			#mercury.orbit
				.planet-wrap
					.planet
			#venus.orbit
				.planet-wrap
					.planet
			#earth.orbit
				.planet-wrap
					.planet
					#moon.orbit
						.planet-wrap
							.planet
			#mars.orbit
				.planet-wrap
					.planet
			#jupiter.orbit
				.planet-wrap
					.planet
			#saturn.orbit
				.planet-wrap
					.planet
						.rings
			#uranus.orbit
				.planet-wrap
					.planet
						.rings
			#neptune.orbit
				.planet-wrap
					.planet

	ul.menu
		each item in items
			li
				a(href="/#{item.url}") #{item.name}

	script.
		var socket = io.connect('localhost:3000')
		//- var socket = io.connect('https://limitless-earth-91513.herokuapp.com/')
		socket.on('urlchange', function (data) {
			window.location.href = data.url
		})