extends layout

block content
	#universe
		#galaxy.galaxy-view--3D
			#sun
			#mercury.orbit
				.planet-wrap
					.planet
			#venus.orbit
				.planet-wrap
					.planet
			#earth.orbit
				.planet-wrap
					.planet
					#moon.orbit
						.planet-wrap
							.planet
			#mars.orbit
				.planet-wrap
					.planet
			#jupiter.orbit
				.planet-wrap
					.planet
			#saturn.orbit
				.planet-wrap
					.planet
						#rings
			#uranus.orbit
				.planet-wrap
					.planet
						#rings
			#neptune.orbit
				.planet-wrap
					.planet

	ul.menu
		each item in items
			li
				a(href="/#{item.link_address}") #{item.name}