doctype html
html
	head
		title=title

		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="description", content="Solar system")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel='icon', href='favicon.ico')
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/style.css')

	body
		block content

		//- include nav

		script(type="text/javascript", src="js/libs/jquery-3.2.1.min.js")
		script(type="text/javascript", src="js/libs/annyang.min.js")
		script(type="text/javascript", src="js/script.js")
