doctype html
html
	head
		title=title

		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="description", content="Solar system")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="icon", href="favicon.ico")
		link(rel='stylesheet', href='/css/style.css', media="none", onload="if(media!='all') media='all'")

	body
		script(type="text/javascript", src="/socket.io/socket.io.js")
			
		block content

		script(type="text/javascript", src="js/min.js")
