extends layout

block content
	#universe
		#galaxy
			div.menu.main-page-link
				a(href='/') Back to main page
			div.menu.mobile-menu
				each item in items
					.menu-item
						a(href="/#{item.url}") #{item.name}
						div(id="#{item.url}")
							if item.url != 'sun'
								.planet
									if item.url == 'saturn' || item.url == 'uranus'
										.rings

	script.
		var socket = io.connect();

		//- Get anchors from menu
		var menuLinks = document.getElementsByTagName('a');

		// Transform from NodeList to Array
		menuLinks = Array.prototype.slice.call(menuLinks);

		menuLinks.forEach(function(link) {
			link.addEventListener('click', function (ev) {
				ev.preventDefault();
				socket.emit('eventchange', { url : ev.target.href });
			}, false );
		});