extends layout

block content
	div.menu.mobile-menu
		each item in items
			a(href="/#{item.url}") #{item.name}
				div(class="menu-item", id="#{item.url}")
					//- div(class="planet-wrap")
					if item.url != 'sun'
						.planet
							if item.url == 'saturn' || item.url == 'uranus'
								.rings

	script.
		var socket = io.connect();
		[].forEach.call( document.querySelectorAll( 'a' ), function ( a ) {
			a.addEventListener( 'click', function (e) {
				socket.emit('statechange', { url : e.target.href });
				e.preventDefault();
			}, false );
		});