extends layout

block content
    #universe
        #galaxy
            div= moon

        include menu

    script.
        socket.on('urlcontrol', function (data) {
            window.location.href = data.url;
        });