extends layout

block content

	#galaxy
		.wrapper
			.planet-wrapper(id="#{title}")
				.planet
					if title == 'saturn' || title == 'uranus'
						.rings
			.info-wrapper

	ul.menu
		each item in items
			li
				a(href="/#{item.url}") #{item.name}


	script.
		var socket = io.connect();
		socket.on('urlcontrol', function (data) {
			window.location.href = data.url;
		});