extends layout

block content
	#universe
		.wrapper
			.planet-wrapper(id="#{title}")
				.planet(style="background-image: url(../img/#{title}.jpg)")
					if title == 'saturn' || title == 'uranus'
						.rings
			.info-wrapper

	ul.menu
		each item in items
			li
				a(href="/#{item.url}") #{item.name}


	script.
		var socket = io.connect();
		socket.on('urlcontrol', function (data) {
			window.location.href = data.url;
		});