<ul class="menu mobile-menu">
  @for (planet of planets; track planet.name) {
    <li class="menu-item">
      <a (click)="navigateTo('/' + planet.name)">{{ planet.name | titlecase }}</a>

      <div class="planet"
           [id]="planet.name"
           [style.backgroundImage]="planet.name !== 'sun' ? 'url(img/planets/' + planet.name + '.jpg)' : ''">
      </div>

      @if (planet.moons?.length) {
        <button (click)="toggleMoons(planet.name)">Moons</button>
        @if (expandedPlanet === planet.name) {
          <div class="moons-wrapper">
            @for (moon of planet.moons!; track moon.name) {
              <div class="moon"
                   [style.backgroundImage]="'url(img/moons/' + planet.name + '/' + moon.name + '.jpg)'"
                   (click)="showMoonTooltip(moon, true)">
                {{ moon.name | titlecase }}
              </div>
            }
          </div>
        }
      }

      <div class="info__controls">
        <button class="info__controls--button" (click)="sendInfo('profile')">Profile</button>
        <button class="info__controls--button" (click)="sendInfo('intro')">Intro</button>
        <button class="info__controls--button" (click)="sendInfo('description')">Description</button>
        <button class="info__controls--button" (click)="sendInfo('display images')">Images</button>
        <button class="info__controls--button" (click)="sendInfo('read text')">Read</button>
      </div>
    </li>
  }
</ul>
