extends ../layout

block content
    .loader.loader__new-session
        .loader__wrapper
            .loader__welcome.welcome__message Welcome to SolSys 3D
            .loader__planet
            .loader__welcome.control__message
                .loader__redirect.redirect__remote Insert the code
                    .loader__control-buttons.row-flex
                        input.loader__text.loader__wrapper--input(type="text" placeholder=".  .  .  ." maxlength="4")
                        button.loader__local-button.loader__wrapper--input(type="button" name="" class="") Go to app