<div class="loader loader__new-session">
  <div class="loader__wrapper">

    <div class="loader__welcome welcome__message">
      <span>Welcome to</span>
      <br>
      <span>Limitless Earth</span>
    </div>

    <div class="loader__planet"></div>

    <div class="loader__welcome control__message">
      <div class="loader__control-buttons">
        <button
          class="loader__local-button loader__wrapper--input"
          type="button"
          (click)="enter()">
          Enter
        </button>
      </div>
    </div>

  </div>
</div>
