@media all and (min-width: 1600px)
	#galaxy.galaxy-view--2D
		font-size: 50%

@media all and (max-width: 1600px)
	#galaxy.galaxy-view--2D
		font-size: 40%

@media all and (max-width: 1200px)
	#galaxy.galaxy-view--3D
		font-size: 75%
	.wrapper
		.planet-wrapper
			transform: scale(0.75, 0.75)
		.info-wrapper
			width: 100%
	.error
		&__status--digit
			&.number
				font-size: 80px
			.loader__planet
				width: 80px
				height: 80px
		&__message
			font-size: 18px

@media all and (max-width: 992px)
	#galaxy
		position: relative
		width: 100%
		height: 100%
		&.galaxy-view--3D
			font-size: 50%
	.loader__welcome
		font-size: 2em